In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [5]:
a = 350
b = 330
if a > b: print("a is greater than b")

a is greater than b

In [1]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

In [7]:
a = 300
b = 200

if a>b :
    pass  # Placeholder for the if block
else:
    print ("a < b")  # Placeholder for the else block

# The conditionals are syntactically valid, but no code is executed

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

In [14]:
# list
fruits = ["apple", "banana", "cherry"]
print("\nlist:")
for x in fruits:
  print(x)

# tuple
fruits = ("apple", "banana", "cherry")
print("\ntuple:")
for x in fruits:
  print(x)    

# set
fruits = {"apple", "banana", "cherry"}
print("\nset:")
for x in fruits:
  print(x)    

# dict
fruits = {"apple":2, "banana":3, "cherry":4}
print("\ndict:")
for x in fruits:
  print(x)

list:
apple
banana
cherry

tuple:
apple
banana
cherry

set:
apple
cherry
banana

dict:
apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [9]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
for x in range(6):
  print(x)

In [ ]:
for x in range(2, 6):
  print(x)

In [ ]:
for x in range(2, 30, 3):
  print(x)

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")